/* css reset */

* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

/* css variables */

:root {
    --navbar-height: 60px;
}

/* navbar */

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* navigation bar logo and image */

#logo {
    margin: 10px 34px;
}

#logo img {
    margin: 3px 6px;
    height: 50px;
   
    border-radius: 20px;
}

/* navigatio bar list styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: rgb(212, 192, 192);
    display: block;
    padding: 3px 22px;
    border-radius: 5px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 15px;
    text-decoration: none;
    background-color: rgb(255, 250, 250);
}

/* home section */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 300px;
    height: 578px;
    top: 0px;
    left: 0px;
}

#home::before {
    content: "";
    background: url("bg1.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 642px;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-align: center;
}

#home p {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.btn {
    padding: 6px 20px;
    background-color: brown;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    margin: 14px;
    font-size: 1.666rem;
}

#home p {
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}

/* utility classes */

.h-primary {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.1rem;
    padding: 12px;
}

.center {
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* services section */

#services {
    margin: 34px;
    display: flex;
}

/* .services-container{
            border: 2px solid red;
            margin-top: 140px;
        } */

hr {
    position: relative;
    top: -30px;
}

#services .box {
    border: 2px solid red;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 24px;
    background: rgb(236, 230, 230);
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif', serif;
}

/* client section */

#client-section {
    position: relative;
    /* height: 300px; */
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("bg.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding :34px; */
}

#clients img {
    height: 124px;
}

.client-item {
    padding: 34px;
}

/* contact section */

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("contact.jpg") no-repeat center center/cover;
}

/* contact section */

/* remove */

/* #contact{
            border:solid 2px crimson
        } */

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

#contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.2rem;
    font-family: 'Baloo Bhai 2', cursive;
    ;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}
